<h1 class="title">
  <span class="title__label">
    Dashboard
  </span>
</h1>

<section class="dashboard">
  <div class='dashboard__panel open__issues'>
    <div class="issue--count">
      {{openIssuesCount}}
    </div>
    <div>
      OPEN ISSUES
    </div>
  </div>
</section>

<div class='dashboard__gauges'>
{{> gauge title="High" class="high" percentage=highIssuesCount}}
{{> gauge title="medium" class="medium" percentage=mediumIssuesCount}}
{{> gauge title="low" class="low" percentage=lowIssuesCount}}
</div>